<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width = device-width, initial-scale = 1"/>
<title>Algorithm Animation</title>
<link rel="icon" href="images/websitelogo-thick.svg"/>
<!-- JQUERY link (put before bootstrap links) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async="async"></script>
<!-- Put Bootstrap CSS FIRST, then personal CSS files after -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<!-- BOOTSTRAP JS link -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async="async"></script>
<!-- Personal styling -->
<link href="style.css" type="text/css" rel="stylesheet"/>
<!-- Anime.js library -->
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js" async="async"></script>
<!-- Personal JS file -->

<!-- FREE Google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">