<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include('../partials/head') %>
</head>
<body id="grad">

<header>
    <%- include('../partials/header') %>
</header>

<div class="container" id="page-text">
    <div class="page-header page-title">
        <h1 id="page-title">Homepage</h1>
    </div>
</div>

<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>
