<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include('../partials/head') %>
    <script src="js/bubblesort.js" defer="defer"></script>
</head>
<body id="grad">

<header>
    <%- include('../partials/header') %>
</header>

<div class="container" id="page-text">
    <div class="page-header page-title">
        <h1 id="page-title">mASbeborutBl lrgoiht</h1>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Overview</h2>
            <h3>Bubble sort is one of the most inefficient sorting algorithms because of how simple it is. However this also makes it one of the easiest algorithms to follow, so we’ll start here!
                Bubble sort goes through our list of numbers to be sorted, and if two numbers are in the wrong order, it swaps them. This is repeated until the entire list is in order.</h3>
        </div>
        <div class="col-8">
            <!-- Bubblesort animation goes here -->
        </div>
        <div class="col-12">
            <h2 id="HowItWorks">How it Works</h2>
        </div>
        <div class="col-12">
            <h2 id="Animation">Animation</h2>
        </div>
        <div class="col-12">
            <h2 id="Code">Code</h2>
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
