<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include('../partials/head') %>
    <script src="js/bubblesort.js" defer="defer"></script>
</head>
<body id="grad">

<header>
    <%- include('../partials/header') %>
</header>

<div class="container" id="page-text">
    <div class="page-header page-title">
        <h1 class="title" id="page-title">mASbeborutBl lgorith</h1>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Overview</h2>
            <h3>There are hundreds of different algorithms all
                designed to accomplish different tasks. Sorting different types of
                information is one of the most common, and here we have 3 different
                sorting algorithms:</h3>
        </div>
        <div class="col-8">

        </div>
    </div>
    <h2 id="HowItWorks">How it Works</h2>
    <h2 id="Animation">Animation</h2>
    <h2 id="Code">Code</h2>
</div>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
