<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include('../partials/head') %>
</head>
<body id="grad">

<header>
    <%- include('../partials/header') %>
</header>

<div class="container">
    <div class="page-header page-title">
        <h1 class="title" id="page-title">Learn Algorithms!</h1>
    </div>
    <h3 class="report-text-spacing page-text waypoint">There are hundreds of different algorithms all
            designed to accomplish different tasks. Sorting different types of
            information is one of the most common, and here we have 3 different
            sorting algorithms:</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 waypoint">
            <div class="jumbotron" id="jumbo">
                <a href="/learnbubble" class="btn btn-default btn-lg" id="sort-buttons" role="button">Bubble Sort</a>
                <h4 class="page-text">Bubble sort, sometimes referred to as sinking sort,
                    is a simple sorting algorithm that repeatedly steps through
                    the list, compares adjacent elements and swaps them if they
                    are in the wrong order. The pass through the list is repeated
                    until the list is sorted.</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 waypoint">
            <div class="jumbotron" id="jumbo">
                <a href="/learnmerge" class="btn btn-default btn-lg" id="sort-buttons" role="button">Merge Sort</a>
                <h4 class="page-text">In computer science, merge sort is an efficient, general-purpose,
                    comparison-based sorting algorithm. Most implementations produce
                    a stable sort, which means that the order of equal elements is
                    the same in the input and output. Merge sort is a divide and
                    conquer algorithm that was invented by John von Neumann in 1945.</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 waypoint">
            <div class="jumbotron" id="jumbo">
                <a href="/learnquick" class="btn btn-default btn-lg" id="sort-buttons" role="button">Quick Sort</a>
                <h4 class="page-text">Quicksort (sometimes called partition-exchange sort) is an
                    efficient sorting algorithm. Developed by British computer
                    scientist Tony Hoare in 1959 and published in 1961, it
                    is still a commonly used algorithm for sorting. When
                    implemented well, it can be about two or three times faster
                    than its main competitors, merge sort and heapsort.</h4>
            </div>
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>
