.jumbotron {
    background-image: linear-gradient(to right, #56CCF2, #2F80ED);
    color: white;
    padding-top: 20px;
}

#jumbo {
    background: #6d858f;
    padding: 20px;
    border: 1.5px solid white;
    text-align: center;
}

#jumbo-test {
    background: none;
    padding: 20px;
    text-align: center;
}

.path {
  animation: dash 50s linear alternate infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}

.report-image {
    margin-top: 20px;
    width: 60%;
    height: auto;
}




#grad {
    background-image: linear-gradient(to right, #56CCF2, #2F80ED);
    color: #eee;
}

.form-container {
    width: 50%;
    display: inline-block;
    text-align: left;
}


.page-title {
    margin-top: 10px;
    text-align: center;
    display: block;
}

#page-title {
    color:white;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

#page-text {
    padding-bottom: 15px;
}

.page-text-link {
    color: #fff;
    font-style: italic;
    text-decoration: none;
}

.button-link {
    text-decoration: none;
}

#sort-buttons {
    width: 100%;
    text-style: bold;
    margin-bottom: 15px;
    background: #ffa500;
}

#report-button {
    width: 100%;
    text-style: bold;
    color: #2F80ED;
}

.report-element {
    border: 1px solid #dee2e6;
    border-spacing: 2px;
    padding: 1.5rem;
    background: #4F6D7A;
    color: #FCF7F8;
}

#report-title {
    padding-bottom: 10px;
    text-align: center;
}

.report-heading {
    padding-left: 10px;
    padding-top: 0px;
    border-bottom: 1px solid #dee2e6;
}

.report-text {
    padding-top: 1.5rem;
}

.report-section {
    margin-bottom: 10px;
}

.report-table-entry {
    color: #FCF7F8;
    text-decoration: none;
}

.report-text-link {
    color: #6FBEEC;
    font-style: italic;
    text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;

}

body {
    background-image: linear-gradient(to right, #56CCF2, #2F80ED);
    color: white;
    margin: 0 0 50px;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    overscroll-behavior-y: none;
}

.letter {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

.homepage #navbar-home,
.learnhome #navbar-learn,
.learnbubble #navbar-learn,
.learnmerge #navbar-learn,
.learnquick #navbar-learn,
.testhome #navbar-test {
  hover: on;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  background-color: #f0f5fa;
}

.navbar-default {
    background-color: #f0f5fa;
    border: 3px solid #dee2e6;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f5fa;
  height: 45px;
  color:  #A9A9A9;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#footer-text {
    padding-top:12px;
}

.header {
  background-color: #f0f5fa;
  margin-top: -50px;
}



.navbar .navbar-collapse {
  text-align: center;
  border-top: 0.5px solid #dee2e6;
}



/* DROPDOWN MENU CODE BELOW ADAPTED FROM:
https://bootsnipp.com/snippets/kM4Q
*/
.dropdown-submenu {
    position: relative;
}

/* Moves submenu to the right of button */
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

/* Causes submenu to appear when hover over button */
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

/* Arrow colour and placement */
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #888;
    margin-top: 5px;
    margin-right: -10px;
}

/* Arrow colour after selecting menu */
.dropdown-submenu:hover>a:after {
    border-left-color: #ccc;
}

.dropdown-submenu.pull-left {
    float: none;
}

.login-button {
    width: 100%;
    margin-top: 5px;
}

.login-input {
    margin-top: 3px;
}

.login-menu {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
}

.login-page-row {
    margin-top: 12px;
}

.login-page-button {
    margin-top: 15px;
    padding: 5px;
    margin-bottom: 30px;
}

.logo {
    background-color: #f0f5fa;
    width: 80px;
    height: 70px;
    float: left;
}

.title {
    color: #2E86C1;
    text-align: center;
    text-style: bold;
    font-family: 'Montserrat', sans-serif;
}

.table-title {
    color: white;
    text-align: center;
    font-size: 25px;
    text-style: bold;
}

.quiz-title {
    color: #2F80ED;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-style: bold;
}

#quiz-jumbo {
    /*background: linear-gradient(to right, #373D3F, #778899);*/
    background: #474f52;
    border: 4px;
    border-color: #eee;
    border-style:solid;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

#pagination {
    padding-left: 0px;
    padding-bottom: 0px;
    position: relative;
    text-align: centre;

}

#quiz-next {
    padding: 6px 29px
}

.pagination {
    margin: 0px !important;
}


.slide {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.hidden-slide {
    display: none;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 250px;
  margin-top: 40px;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}

#quiz-submit, #quiz-start {
    color: white;
    background: #0275d8;
}