body {
    background: linear-gradient(-5deg, #095379, #141E30);
    margin: 0;
    padding-bottom: 750px;
}

.title {
    color: white;
    font-family: Georgia;
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin: 50px;
    padding-top: 50px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5);
}

p {
    color:white;
    margin: 50px
}

.bold {
    font-style: bold;
}

.image {
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    position: absolute;
    width: 400px;
    height: 200px;
    /*right: 200px;*/
 }



 .caption {
    display: block;
    background-color: white;
    opacity: 0.30;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
 }